{% extends 'cars/base.html' %}
{% load static %}
{% block style %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .pagination-box ul.pagination li.page-item {
        margin: 0 5px; /* Adjust the value to your preference */
    }
</style>
{% endblock style %}


{% block content %}
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Car Grid</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Car Grid</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-left">
                    <!-- Advanced search start -->
                    <div class="widget widget-3 advanced-search2">
                        <h3 class="sidebar-title">Search Cars</h3>
                        <form method="GET">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="text" name="keyword" placeholder="Car Name" class="form-control search-fields">
                                </div>
                                <select class="selectpicker search-fields" name="select-brand">
                                    <option>Select Make</option>
                                    {% for make in make_search %}
                                    <option>{{ make }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-make">
                                    <option>Select Model</option>
                                    {% for model in model_search %}
                                    <option>{{ model }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-location">
                                    <option>Select Transmission</option>
                                    {% for transmission in transmission_search %}
                                    <option>{{ transmission }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-year">
                                    <option>Select Year</option>
                                    {% for year in year_search %}
                                    <option>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-type">
                                    <option>Select Condition</option>
                                    <option>New Car</option>
                                    <option>Used Car</option>
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                <label>Price</label>
                                <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group mb-0">
                                <button class="search-button">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    {% for car in all_cars %}
                        <div class="col-lg-6 col-md-6">
                            <div class="car-box-3">
                                <div class="car-thumbnail">
                                    <a href="{% url 'cars:car_details' car_id=car.id %}" class="car-img">
                                        <div class="tag-2 bg-active">Featured</div>
                                        <div class="price-box-2">
                                            <span>${{ car.car_price }}.00</span> 
                                        </div>
                                        {% if car.car_images.all %}
                                            <img class="d-block w-100" src="{{ car.car_images.first.car_image.url }}" alt="car" style="min-height:262px">
                                        {% endif %}
                                    </a>
                                    <div class="carbox-overlap-wrapper">
                                        <div class="overlap-box">
                                            <div class="overlap-btns-area">
                                                <div class="car-magnify-gallery">
                                                    {% if car.car_images.exists %}
                                                        <a href="{{ car.car_images.first.car_image.url }}" class="overlap-btn" >
                                                            <i class="fa fa-expand"></i>
                                                            <img class="hidden" src="{{ car.car_images.first.car_image.url }}" >
                                                        </a>
                                                    {% endif %}
                                                    {% for image in car.car_images.all %}
                                                        <a href="{{ image.car_image.url }}" >
                                                            <img class="hidden" src="{{ image.car_image.url }}" >
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail">
                                    <h1 class="title">
                                        <a href="{% url 'cars:car_details' car_id=car.id %}">{{ car.car_title }}</a>
                                    </h1>
                                    <div class="location">
                                        <a href="{% url 'cars:car_details' car_id=car.id %}">
                                            <i class="flaticon-pin"></i> {{ car.car_city }}, {{ car.car_states }}
                                        </a>
                                    </div>
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-way"></i> {{ car.miles }} km
                                        </li>
                                        <li>
                                            <i class="flaticon-manual-transmission"></i> {{ car.car_transmission }}
                                        </li>
                                        <li>
                                            <i class="flaticon-calendar-1"></i> {{ car.car_year }}
                                        </li>
                                        <li>
                                            <i class="flaticon-fuel"></i> {{ car.car_fuel_type }}
                                        </li>
                                        <li>
                                            <i class="flaticon-car"></i> {{ car.body_style }}
                                        </li>
                                        <li>
                                            <i class="flaticon-gear"></i> {{ car.car_color }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Page navigation start -->
                <div class="pagination-box text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mx-auto"> <!-- Add mx-auto class here -->
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->
{% endblock content %}