{% extends 'cars/base.html' %}
{% load static %}
<style>
 
    .detail h4 {
        color: black; 
    }

   
    .detail a {
        text-decoration: none;
    }
</style>

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1 class="mb-10">Our Services</h1>
            <div class="title-border mb-30">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="advantages-4">
                    <div class="advantages-4-inner">
                        <div class="icon flaticon-console">
                            <i class="flaticon-speed"></i>
                        </div>
                        <div class="detail">
                            <h4><a href="services.html">Super Fast</a></h4>
                            <p>Sigh sang nay sex high yet door game. She dissimilar was favourable unreservednay ex pression contrasted saw.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="advantages-4">
                    <div class="advantages-4-inner">
                        <div class="icon flaticon-console">
                            <i class="flaticon-wheel"></i>
                        </div>
                        <div class="detail">
                            <h4><a href="services.html">Oil Change</a></h4>
                            <p>Sigh sang nay sex high yet door game. She dissimilar was favourable unreservednay ex pression contrasted saw.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="advantages-4">
                    <div class="advantages-4-inner">
                        <div class="icon flaticon-console">
                            <i class="flaticon-air-conditioner"></i>
                        </div>
                        <div class="detail">
                            <h4><a href="services.html">AIR conditioning</a></h4>
                            <p>Sigh sang nay sex high yet door game. She dissimilar was favourable unreservednay ex pression contrasted saw.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="advantages-4">
                    <div class="advantages-4-inner">
                        <div class="icon flaticon-console">
                            <i class="flaticon-car-2"></i>
                        </div>
                        <div class="detail">
                            <h4><a href="services.html">Dealership</a></h4>
                            <p>Sigh sang nay sex high yet door game. She dissimilar was favourable unreservednay ex pression contrasted saw.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="advantages-4">
                    <div class="advantages-4-inner">
                        <div class="icon flaticon-console">
                            <i class="flaticon-motor"></i>
                        </div>
                        <div class="detail">
                            <h4><a href="services.html">Repairing</a></h4>
                            <p>Sigh sang nay sex high yet door game. She dissimilar was favourable unreservednay ex pression contrasted saw.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="advantages-4">
                    <div class="advantages-4-inner">
                        <div class="icon flaticon-console">
                            <i class="flaticon-deal"></i>
                        </div>
                        <div class="detail">
                            <h4><a href="services.html">Trusted Agents</a></h4>
                            <p>Sigh sang nay sex high yet door game. She dissimilar was favourable unreservednay ex pression contrasted saw.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="advantages-4">
                    <div class="advantages-4-inner">
                        <div class="icon flaticon-console">
                            <i class="flaticon-lock"></i>
                        </div>
                        <div class="detail">
                            <h4><a href="services.html">Security</a></h4>
                            <p>Sigh sang nay sex high yet door game. She dissimilar was favourable unreservednay ex pression contrasted saw.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="advantages-4">
                    <div class="advantages-4-inner">
                        <div class="icon flaticon-console">
                            <i class="flaticon-support-2"></i>
                        </div>
                        <div class="detail">
                            <h4><a href="services.html">Free Support</a></h4>
                            <p>Sigh sang nay sex high yet door game. She dissimilar was favourable unreservednay ex pression contrasted saw.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->

<!-- Counters strat -->
<div class="counters">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-car"></i>
                    <h1 class="counter">967</h1>
                    <h5>Total Cars</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-blog"></i>
                    <h1 class="counter">1276</h1>
                    <h5>Dealer Reviews</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-user"></i>
                    <h1 class="counter">396</h1>
                    <h5>Happy Clients</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-medal"></i>
                    <h1 class="counter">177</h1>
                    <h5>Awards</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->

{% endblock content%}